<div class="center hero-unit">
  <div class="loginform">
    <h3>ログインフォーム</h3><br>
    <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="enterform">
      <%= f.label :ユーザー名 %>
      <%= f.text_field :name, :size => "30x10" %>
      <br><br>
		  <%= f.label :パスワード %>
      <%= f.password_field :password, :size => "30x10"%><br><br>
      <div><%= f.submit "ログイン", class: "btn btn-warning btn-lg" %></div>
    </div>
    <% end %>
  </div>
</div>
<div class="attention", align="center">
<h2>ユーザーID、パスワードを忘れた場合</h2>
</div>
