<li>
	<span class="title"><%= article.title %></span><br><br>
	<p><%= truncate(article.content, length: 100) %>
		<%= link_to "もっと読む", article %></p>
	<span class="timestamp">
	</span>
</li>
<div align="right">
	<td><%= link_to 'コメント', article %>(<%= @article.comments.count %>)</td>
	<td><%= link_to "削除", article, method: :delete,
	 																data: { confirm: "Are You Sure?"},
	 																title: article.content %></td>
Posted <%= time_ago_in_words(article.created_at) %> ago.
</div>
