<li>
	<span class="title"><%= article.title %></span><br><br>
	<p><%= truncate(article.content, length: 100) %>
		<%= link_to "もっと読む", article %></p>
	<span class="timestamp">
	</span>
</li>
<div align="right">
	<td><%= link_to 'コメント', article %></td>
	<td><%= link_to "削除", article, method: :delete,
	 																data: { confirm: "Are You Sure?"},
	 																title: article.content %></td>
<%= article.created_at.strftime(" %Y/%m/%d %H:%M ") %>作成
</div>
