<% if current_user %>
<div>
	<div class="row">	
		<div class="col-sm-7">
			<p class="newsfeed">投稿更新情報</p>
			<% @articles.each do |article| %>
				<% @name = article.user_id %>
					<% case @name %>
			<% when @name = 1 
		  then @name = "斎藤" %>
			<% when @name = 2
			 then @name = "岡本" %>
			<% when @name = 3 
		  then @name = "森本" %>
			<% when @name = 4
			 then @name = "杉山" %>		
			<% when @name = 5 
		  then @name = "城田" %>
			<% when @name = 6
			 then @name = "山崎" %>
			 <% when @name = 7
			 then @name = "谷野" %>
			<% when @name = 8 
		  then @name = "山本" %>
			<% when @name = 9
			 then @name = "源" %>
			<% end %>
			<div>
				<%= @name %>さんが<%= link_to article.title, controller: "articles", action: "show", id: article.id %>を投稿しました。
				<%= article.created_at.strftime("%m/%d %H:%M") %>
				<hr class="style-four">
			</div>
			<% end %>
			<%= will_paginate @articles, previous_label: "←前へ", next_label: "次へ→" %>
		</div>
		<div class="col-sm-5">
			<p class="newsfeed">コメント更新情報</p>
			<% @comments.each do |comment| %>
				<div class="feeds">					
						<%= comment.name %>さんが
						<%= link_to "コメント", controller: "articles", action: "show", id: comment.article_id %>しました。
						<%= comment.created_at.strftime("%m/%d %H:%M") %>				
				</div>
				<hr class="style-three">
				<% end %>
				<%= will_paginate @comments, previous_label: "←前へ", next_label: "次へ→" %>
		</div>
	</div>
</div>

<hr class="style-one">

<table align="center">
	<tr>
		<td class="ho">
		<%= link_to image_tag("saito.jpg", class:"saito"), user_path(1) %>
		<h2 align= "center">斎藤利枝</h2></td>
	<td class="ho">
		<%= link_to image_tag("okano.jpg", class:"okano"), user_path(2) %>
		<h2 align="center">岡本美紗恵</h2></td>
	<td class="ho">
		<%= link_to image_tag("morimoto.jpg", class:"okano"), user_path(3) %>
		<h2 align="center">森本彩花</h2></td>
	<td class="ho">
		<%= link_to image_tag("sugiyama.jpg", class:"okano"), user_path(4) %>
		<h2 align= "center">杉山采子</h2></td>
	</tr>
</table>
<table align="center">
	<tr>
	<td class="ho">
		<%= link_to image_tag("shirota.jpg", class:"shirota"), user_path(5) %>
		<h2 align="center">城田遊馬</h2></td>
	<td class="ho">
		<%= link_to image_tag("yamazaki.jpg", class:"yamazaki"), user_path(6) %>
		<h2 align="center">山崎祐</h2></td>
	<td class="ho">
		<%= link_to image_tag("tanino.jpg", class:"okano"), user_path(7) %>
		<h2 align= "center">谷野僚大</h2></td>
	<td class="ho">
		<%= link_to image_tag("yamamoto.jpg", class:"okano"), user_path(8) %>
		<h2 align="center">山本廉</h2></td>
	<td class="ho">
		<%= link_to image_tag("mred.png", class:"okano"), user_path(9) %>
		<h2 align="center">源康介</h2></td>
	</tr>
	</table>	

<% else %>
<%= render :template => "sessions/new" %>

<% end %>