<% if current_user %>
<table align="center">
	<tr>
		<td class="ho">
		<%= link_to image_tag("saito.jpg", class:"saito"), user_path(1) %>
		<h2 align= "center">斎藤利枝</h2></td>
	<td class="ho">
		<%= link_to image_tag("okano.jpg", class:"okano"), user_path(2) %>
		<h2 align="center">岡本美紗恵</h2></td>
	<td class="ho">
		<%= link_to image_tag("morimoto.jpg", class:"okano"), user_path(3) %>
		<h2 align="center">森本彩花</h2></td>
	<td class="ho">
		<%= link_to image_tag("sugiyama.jpg", class:"okano"), user_path(4) %>
		<h2 align= "center">杉山采子</h2></td>
	</tr>
</table>
<table align="center">
	<tr>
	<td class="ho">
		<%= link_to image_tag("shirota.jpg", class:"shirota"), user_path(5) %>
		<h2 align="center">城田遊馬</h2></td>
	<td class="ho">
		<%= link_to image_tag("yamazaki.jpg", class:"yamazaki"), user_path(6) %>
		<h2 align="center">山崎祐</h2></td>
	<td class="ho">
		<%= link_to image_tag("tanino.jpg", class:"okano"), user_path(7) %>
		<h2 align= "center">谷野僚大</h2></td>
	<td class="ho">
		<%= link_to image_tag("yamamoto.jpg", class:"okano"), user_path(8) %>
		<h2 align="center">山本廉</h2></td>
	<td class="ho">
		<%= link_to image_tag("mred.png", class:"okano"), user_path(9) %>
		<h2 align="center">源康介</h2></td>
	</tr>
	</table>
<% else %>
<%= render :template => "sessions/new" %>

<% end %>