<h3>みなさんへのお願い</h3>
<p>*サーバー側の問題で画像がアップロードできなくなっていました。
プロジェクトを投稿後、画像があればこちらの<a href="mailto:sj0017vk&#64;ed.ritsumei.ac.jp">アドレス</a>まで送信お願いします。*</p>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %>'s page</h1>
    </section>
    <p>
          <%= link_to "新規作成", new_article_path, class: "btn btn-warning btn-lg"%>
    </p>
  </aside>
  <%= will_paginate @articles %>
  <div class="span8">
  	<% if @user.articles.any? %>
  	 <h3>Articles(<%= @user.articles.count %>)</h3>
  	 <ol class="articles">
  	 	<%= render @articles %>
  	 </ol>
  	 <% end %>
  </div>
</div>